body{
    background-color: white;
}

.imgLogo {
    height: 50px;
    width: 120px;
}

#divSelect{
    padding-top: 40px;
}

#btn1{
    padding-top: 40px;
}

.subtitulos{
    padding-top: 50px;
}

.parrafos{
    padding-top: 20px;
}

#tabla{
    padding-top: 40px;
}

#divSelect{
    padding-top: 60px;
}

#btnUnit{
    padding-top: 20px;
}

#listaEjercito{
    padding-top: 30px;
}

#par{
    padding-top: 10px;
    font-weight: bold;
}

#tableContainer{
    padding-top: 20px;
    width: 25%;
}

h2{
    padding-top: 40px;
    padding-bottom: 20px;
}

#steamGames{
    padding-top: 50px;
}

.size{
    width: 130px;
}